# 1. 파이썬 첫걸음 

# 2. 첫 번째 파이썬 코드 

# 3. 파이썬 프로그래밍 도구들

# 4. 코멘트 

# 5. 자료형 개요 

# 6. 추상화 개요

# 7. 변수

In [12]:
print(4990)
print(4990 * 2)
print(4990 + 1490)
print(4990 * 3 + 1490 * 2 + 1250 * 5)

4990
9980
6480
24200

In [22]:
burger_price = 4990
fries_price = 1490 
drink_price = 1250 
# 4990이라는 변수를 burger_price에 저장한다는 뜻

print(burger_price)
print(burger_price * 2)
print(burger_price + fries_price)
print(burger_price * 3 + fries_price * 2 + drink_price * 5)

4990
9980
6480
24200

# 8. 칼로리 계산기

# 9. 함수

In [33]:
burger_price = 4990   
print(burger_price)

4990

In [50]:
def hello(): # 함수의 헤더
    print('Hello!')
    print('Welcome to Codeit!')

hello() # 탭을 하면 hello함수의 내용으로 인식되기 때문에 탭을 하면 안됨
hello()
hello()

Hello!
Welcome to Codeit!
Hello!
Welcome to Codeit!
Hello!
Welcome to Codeit!

# 10. 파라미터

In [54]:
hello()

Hello!
Welcome to Codeit!

In [58]:
def hello(name):
    print("Hello!")
    print(name)
    print("Welcome to Codeit!")

hello("Chris")

Hello!
Chris
Welcome to Codeit!

In [64]:
hello('세범')

Hello!
세범
Welcome to Codeit!

# 11. 여러 개의 파라미터

In [81]:
def print_sum(a, b, c):
    print(a + b + c) 

print_sum(7, 3, 5)

15

## 파라미터의 이름을 자유롭게 지을 수 있음

In [90]:
def print_sum(num_1, num_2, num_3):
    print(num_1 + num_2 + num_3)

print_sum(8, 9, 6)

23